.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 48px;
  animation-name: contentAnimationInit;
  animation-duration: 0.2s;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.description {
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  color: white;
  font-family: "Gill Sans", sans-serif;
}

.buttonWatch {
  margin-top: 8px;
}

@keyframes contentAnimationInit {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}