.navLinksContainer {
    height: 100%;
    // box-shadow: 0 1px 3px rgba(186, 85, 54, 0.95);
    display: flex;
    align-items: center;
}

.linksWrapper {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.linkItem {
    height: 100%;
    padding: 0 1.1em;
    font-family: "Gill Sans", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: 2px solid transparent;
    transition: all 200ms ease-in-out;
    &:hover {
        border-top: 2px solid #46211A;
    }
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}