.episodeCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #332f2f;
    }
}

.activeEpisode {
    background-color: lightcoral;
}

.episodePoster {
    width: 90px;
    height: 70px;
}

.episodeCardText {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 8px;
}

.episodeCardNumTitle {
    display: flex;
    flex-direction: row;
}

.episodeCardNum {
    color: white;
    font-weight: 500;
    padding-right: 4px;
}

.episodeCardTitle {
    color: white;
    font-weight: 500;
}

.episodeCardDescription {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
   font-size: 12px;
   text-align: start;
   color: lightgrey;
}