.loginContainer {
    display: flex;
}

.loginButton {
    border: 0;
    outline: 0;
    padding: 8px 1em;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px;
    background-color: #F47D4A;
    // background-image: linear-gradient(to right, transparent 0%, #46211A 100%);
    &:hover {
        background-color: #c5663e;
        // color: #F47D4A;
    }
    font-family: "Gill Sans", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}