.workoutCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: var(--graphitic);
    }
}

.activeWorkout {
    background-color: var(--graphitic);
}

.workoutPoster {
    width: 90px;
    height: 70px;
    border-radius: 4px;
}

.workoutCardText {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 8px;
}

.workoutCardDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 12px;
    text-align: start;
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;
}
