.episodeCard {
    // position: relative;
}

.playerMenuControlsIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 12px;
    // background-color: red;
    z-index: 88;
}

.episodeMenuHoverContainer {
    position: absolute;
    bottom: 26px;
    right: 0px;
    z-index: 999;
}

.episodeMenu {
    background-color: grey;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    margin-bottom: 4px;
}

.episodeMenuHeader {
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* .episodeMenu:hover {
    width: 80px;
    opacity: 1;
}

.playerMenuControlsIcon:hover + .episodeMenu {
    width: 80px;
    opacity: 1;
} */