.navLinksMobileContainer {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: red;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      // transform: translateY(1);
    }
    100% {
      opacity: 1;
      // transform: translateY(0);
    }
}
// rgba(36, 159, 48, 0.8)
.linksMobileWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    align-items: center;
    padding-top: 0.5em;
    background-color: rgba(0, 141, 203, 0.6);
    // background-image: linear-gradient(to bottom, transparent 50%, #693D3D 95%);
    animation: fadeIn 0.2s both linear; 
}

.linkMobileItem {
    width: 100%;
    padding: 0 1.1em;
    font-family: "Gill Sans", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.marginer {
    height: 0.5em;
}